
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v9_3 {
  width: 980px;
  height: 612px;
  background: rgba(88,88,88,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_4 {
  width: 174px;
  height: 83px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 403px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v9_5 {
  width: 92px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 275px;
  left: 444px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
